table, th, td {
  border: 2px solid black;
  border-collapse:collapse;
  border-spacing: 0px;
  padding: 0px;
}

.pack td{
  height: 58px;
  width: 58px;
  text-align: center;
}

.selected {
  background: lightgray;
}