.plate {
  border: 2px solid black;
  border-spacing: 6px 3px;
  border-collapse: separate;
  padding-right: 17px;
  padding-left: 17px;
}

.plate td{
  border: 2px solid black;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  overflow: hidden;
  text-align: center;
}

.selected {
  background: lightgray;
}