.plate {
    border: 2px solid black;
    border-spacing: 10px;
    border-collapse: separate;    
}

table {
  padding-right: 3px;
  padding-left: 3px;
}
.plate td{
  border: 2px solid black;
  border-radius: 50%;
  height: 144px;
  width: 144px;
  text-align: center;
}

.selected {
  background: lightgray;
}